.bckground_color{
    background-color: #fceae8;
}
.btn-color{
    background-color: #ff589b;
}

.icon_position_left i{
transform: translate(20px, -30px);
}
.icon_position_right i{
transform: translate(-20px, -30px);
}